<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mazzoni.Alex._5H.WebCRUD</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/movies.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mazzoni.Alex._5H.WebCRUD.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        <nav class="navbar">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img class="ico" src="https://www.geektyper.com/ASSETS/logos/stark.png" alt="">
            </a>
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">Elenco Film</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="Tavolo">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer align="center" >
        <a id="link" href="https://github.com/pallaxx"><p id="nome"> © – Copyright. - Alex Mazzoni ® - All rights reserved - MyWebSite™.</p></a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
