body
{
    /* background: rgb(0,245,255); */
    background: white;
	/*background: linear-gradient(90deg, rgba(0,245,255,1) 0%, rgba(0,104,255,1) 49%, rgba(0,30,73,1) 100%);
    */font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
  }
h1
{
    text-align: center;
}
h2 {
    width: 80%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 h2 span { 
    background:#fff; 
    padding:0 10px; 
}
a{text-decoration: none;
    color: black;}

/*  NAVBAR  */
.navbar
{   
    border-radius: 12px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.navbar ul{list-style: none;}
.navbar a {
    float: left;
    display: block;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    transition: all 0.6s ease;
  }
  .navbar .ico {
    width: 100px;
    height: 40px;
  }
  .navbar a.right {
    float: right;
  }
  .navbar .nav-item a:hover {
      padding: 10px 62px;
  }
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  

.Tavolo
{
    min-width: 30%;
    height: fit-content;
    max-width: 1200px;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;
    border-spacing:5px;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.007);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid black;
}


footer
{   
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    text-align: center;
}
#link
{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 0.6s ease;
}
footer #nome
{
    margin-left: auto;
} 
footer #frase2
{
    margin-left: auto;
}

/*  Responsive  */
@media screen and (max-width: 600px)
{
    .Tavolo{margin-bottom: 100px;}
    #link
    {
        font-size: 82%;
    }
}
